body{
    font-family: Arial, Helvetica, sans-serif;
}

.top{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    height: 100px;
}

.greeting{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: burlywood;
    padding: 10px;
    border-radius: 10px;

    width: 30%;
}

.greeting h2{
    margin: 0px;
}

.greeting button{
    width: 50%;
    height: 25px;
    font-size: 15px;

    background-color: red;

    border-style: none;
    border-radius: 10px;
}

.greeting button:hover{
    background-color: darkred;

}

.resources{
    display: flex;
    flex-direction: row;
    gap:30px;

    font-size: 25px;;
}

.resource{
    background-color: burlywood;
    padding: 10px;
    border-radius: 10px;
}

.buildings{
    display: flex;
    flex-direction: row;
}

.building{
    margin: 30px;
    font-size: 30px;
    padding: 5px;

    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 30px;
    background-color: coral;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.building button{
    font-size: 20px;
    width: 100%;
    height: 70px;
    border-radius: 25px;
    background-color: greenyellow;
}

.building button:hover{
    background-color: green;
}







/* Full screen overlay */
.popup {
    display: none; /* hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* semi-transparent black */
    z-index: 1000; /* on top of everything */
}

/* Centered content box */
.popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
