body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

.top{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    height: 10vh;
}

.greeting{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: burlywood;
    padding: 10px;
    border-radius: 10px;

    width: 30%;
}

.greeting h2{
    margin: 0px;
    font-size: 4vh;
}

.greeting button{
    width: 50%;
    height: 3.5vh;
    font-size: 2vh;

    background-color: red;

    border-style: none;
    border-radius: 10px;
}

.greeting button:hover{
    background-color: darkred;

}

.resources{
    display: flex;
    flex-direction: row;
    gap:30px;
    width: 100%;
    font-size: 5vh;;
}

.resource{
    background-color: burlywood;
    padding: 10px;
    border-radius: 10px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buildings{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.building{
    margin: 30px;
    font-size: 3.5vh;
    padding: 10px;
    width: 20vw;

    border-style: none;
    border-width: 3px;
    border-radius: 30px;
    background-color: coral;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.building p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.building img{
    width: 100%;
    border-radius: 20px;
}

.building button{
    font-size: 2vh;
    width: 100%;
    height: 70px;
    border-radius: 20px;
    border-style: none;
    background-color: greenyellow;
}

.building button:hover{
    background-color: green;
}

.resourcesCollection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collectedResources{
    width: 20vw;
    text-align: center;
    background-color: burlywood;
    border-radius: 10px;
    font-size: 2vw;
}

.resourcesCollection button{
    margin-top: 10px;
    width: 20vw;
    border-radius: 10px;
    border-style: none;
    font-size: 2vw;
    background-color: greenyellow;
}

.resourcesCollection button:hover{
    background-color: green;   
}

.btn{
    width: 23.2vw;
    border-radius: 10px;
    border-style: none;
    background-color: lightgray;
    margin-top: 5px;
    font-size: 2vh;
}

.btn:hover{
    background-color: lightslategray;
}

.achievments{
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-size: 2vh;
}

.achievementLocked{
    width: 25%;
    padding: 3px;
    background-color: darkgrey;

    border-radius: 5px;
}

.achievementUnlocked{
    width: 25%;
    padding: 3px;
    background-color: greenyellow;

    border-radius: 5px;
}

.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

.popup-content {
    background-color: #fff;
    margin: 10% auto;
    margin-top: 1%;
    padding: 20px;
    width: 45vw;
    height: 70vh;
    border-radius: 10px;
    text-align: center;
    position: relative;
    font-size: 2vh;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.leaderboardContainers{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-evenly;
}

.leaderboardContainer1{
    width: 100%;
}

.leaderboardContainer2{
    width: 100%;
}

.info{
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

.info-content{
    background-color: #fff;
    margin: 10% auto;
    margin-top: 20%;
    padding: 20px;
    width: 45vw;
    height: 15vh;
    border-radius: 10px;
    text-align: left;
    position: relative;
    font-size: 2vh;
}

